# Runtime
ENVIRONMENT=production
LOG_LEVEL=INFO

# Get these from telegram developer page
TELEGRAM_API_ID=API_ID_HERE
TELEGRAM_API_HASH=API_HASH_HERE

# Provide by Bot-Father from telegram
TELEGRAM_BOT_TOKEN=BOT_TOKEN_HERE

VOICE_SESSION_NAME=lobbot_voice

# MongoDB connection string (defaults to localhost if not set)
MONGO_ROOT_USERNAME=lobadmin
MONGO_ROOT_PASSWORD=CHANGE_ME_TO_A_LONG_RANDOM_PASSWORD
MONGO_URI=mongodb://localhost:27017
DOCKER_MONGO_URI=mongodb://lobadmin:CHANGE_ME_TO_A_LONG_RANDOM_PASSWORD@mongodb:27017/lobbot?authSource=admin
MONGO_DATABASE=lobbot

# Redis connection stirng
REDIS_URI=redis://unused:6379/0

MUSIC_STORAGE_PATH=storage/music
