# Environment type (defeaults to development if not set)
ENVIRONMENT=

# Get these from telegram developer page
API_ID=API_ID_HERE
API_HASH=API_HASH_HERE

# Provide by Bot-Father from telegram
TELEGRAM_BOT_TOKEN=BOT_TOKEN_HERE

# Generate using by running gen_session.py
SESSION_STRING=SESSION_STRING_HERE

# MongoDB connection string (defaults to localhost if not set)
MONGO_URI=URI_STRING_HERE
MONGO_DATABASE=YOUR_DATABASE_NAME_HERE

# Redis connection stirng
REDIS_URI=URL_STRING_HERE
